@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* header */

.header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/bg.jpg);
    background-position: center  bottom;
    background-repeat: no-repeat0;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}

.navbar-item{
    position: relative;
    float: left;
}

.navbar-link{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
    transition: color .3s ease;
}

.navbar-link:hover{
    color: #ce967b;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu-label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}

h1{
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content__para{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #ce967b;
    color: #f9fafc;
    text-transform: uppercase;
    border-radius: 8px;
    transition: all .3s ease;

}

.btn-1:hover{
    transform: translateY(-8px);
    background-color: #ebad8d;
}

/* section coffe */

.cofee{
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}

.cofee-content{
    text-align: center;
}

.cofee-content-sub{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.cofee-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.cofee-1{
    padding: 0 25px;
}

.cofee-group__img{
    width: 200px;
}

.cofee-img{
    position: absolute;
    top: 0;
    right: 0;
}

.cofee-group__sub{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.cofee-group__para{
    white-space: normal; /* Permite que el texto se ajuste a varias líneas */
    text-align: justify;
    margin: 25px;
}

/* section services */

.services{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.services-content{
    text-align: center;
}
.services-content__sub{
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content__para{
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1{
    padding: 0 100px;
}

.services-group__img{
    width: 25px;
    margin-bottom: 15px;
}

.services-group__sub{
    color: #eaccb3;
    font-size: 18px;
}

/* section general */

.general{
    display: flex;
    
}

.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.general-3{
    background-image: url("images/coffee-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-2{
    background-image: url("images/coffe-1.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}



.sub-style{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

/* section blog */

.blog{
    padding: 100px 0;
    text-align: center;
}

.blog-content{
    display: flex;
    justify-content: space-between;
}

.blog-1{
    padding: 15px 55px;
}

.blog-img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-sub{
    font-size: 25px;
    color: #323337;

}

.blog-para{
    white-space: normal;
    text-align: justify;
}

/*footer  */

.footer{
    padding: 100px 0;
    background-color: #000f;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link-sub{
    font-size: 18px;
    color: #f9fafc;
    margin-bottom: 15px;
}

.link-link{
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}
/* end */

/*  qeries */

@media(max-width:991px){
    .menu{
        padding: 30px;
    }

    .menu-label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .navbar-item{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 100px 30px;
    }

    .header-content__para{
        padding: 0;
        white-space: normal;
        text-align: justify;
    }
    /* cofee */

    .coffe{
        padding: 30px;
    }

    .cofee-content-sub{
        padding: 0;
    }
    

    .txt-p{
        padding: 0 25px;
        white-space: normal;
        text-align: justify;
    }
    .cofee-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .cofee-img{
        display: none;
    }

    /* sevices */

    .services{
        padding: 30px;
    }
    .services-content__para{
        padding: 0;
        white-space: normal;
        text-align: justify;
    }

    .services-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1{
        margin-bottom: 25px;
    }

    /* general */

    .general{
        flex-direction: column;
    }

    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3{
        display: none;
    }

        /* blog */

    .blog{
        padding: 30px;
    }        

    .blog-content{
        flex-direction: column;
    }

    .blog-1{
        padding: 0;
    }

     /* footter */

     .footer{
        padding: 30px;
     }

     .footer-content{
        flex-direction: column;
        text-align: center;
     }
}